<!-- header section starts -->
{% load static %}
{% with request.resolver_match.url_name as url_name %}
<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'home-page' %}">
                <span>Feane</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home-page' %}">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'menu-page' %}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about-page' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'book-page' %}">Book Table</a>
                    </li>
                </ul>
                <div class="user_option">
                    {% if request.user.is_authenticated %}
                    <span class="username" style="color: #fff;">Hi! {{ request.user.first_name }}</span>
                    <a href="{% url 'logout-page' %}" class="log-out">Log Out</a>
                    {% else %}
                    <a href="{% url 'login-page' %}" class="log-in">Log In</a>
                    {% endif %}
                    <a class="cart_link" href="{% url 'cart-page' %}">
                        <img src="{% static 'myapp/images/symbol.png' %}" alt="Cart Symbol" width="30" height="30">
                    </a>
                    <form class="form-inline">
                        <!-- SVG search icon -->
                        <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endwith %}
<!-- header section ends -->
