{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{% static 'myapp/images/favicon.png'%}" type="">

    <title>Feane</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/bootstrap.css' %}" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
        integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
        crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="{% static 'myapp/css/font-awesome.min.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'myapp/css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'myapp/css/responsive.css' %}" rel="stylesheet" />

    <style>
        /* Custom styles */
        .success-box {
            background-color: #ffffff;
            border-color: #c3e6cb;
            color: #155724;
            padding: 40px;
            border-radius: 5px;
            height: auto;
            margin-bottom: 40px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }

        .success-icon {
            margin-bottom: 20px;
        }

        .success-text {
            font-size: 36px;
            margin-bottom: 20px;
        }

        .footer_section {
            margin-top: 40px;
        }
    </style>
</head>

<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="{% static 'myapp/images/hero-bg.jpg' %}" alt="">
        </div>
        {% include 'myapp/navbar.html' %}
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="success-box text-center">
                    <img src="{% static 'myapp/images/success.png' %}" alt="Success" class="success-icon">
                    <h2 class="success-text">Payment Successful!</h2>
                    <p>Your order will be delivered within 20 minutes . We look forward to serving you!</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>Contact Us</h4>
                        <div class="contact_link_box">
                            <a href="#">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>Location</span>
                            </a>
                            <a href="#">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>Call +01 1234567890</span>
                            </a>
                            <a href="#">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>demo@gmail.com</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="#" class="footer-logo">Feane</a>
                        <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with</p>
                        <div class="footer_social">
                            <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>Opening Hours</h4>
                    <p>Everyday</p>
                    <p>10.00 Am -10.00 Pm</p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates</a><br><br>
                    &copy; <span id="displayYear"></span> Distributed By
                    <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Scripts -->
    <script src="{% static 'myapp/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'myapp/js/bootstrap.js' %}"></script>
    <!-- End Scripts -->
</body>

</html>
